{% extends 'AltageGastroCmd::app_layout.html.twig' %}

{% block title %}ALTAGE - Welcome{% endblock %}


{% block main_content %}

	<div> hello world of git! </div>
	<a href="{{ path('_dashboard') }}">Home</a>

{% endblock %}


