{% block form_row %}
{% spaceless %}
    <div class="form-group">            
        {{ form_label(form, null, {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'} }) }}
        {{ form_errors(form) }}
        {% spaceless %}
            <div class="col-sm-9">
                    {{ form_widget(form, {'attr': {'class': 'col-xs-10 col-sm-5'}}) }}
            </div>
        {% endspaceless %}
    </div>
{% endspaceless %}
{% endblock form_row %}

