{% extends 'AltageGastroCmd::app_layout.html.twig' %}
{% form_theme form 'AltageGastroCmd:Form:fields.html.twig' %}

{% block title %}Ajouter un collaborateur  - {{ parent() }} {% endblock %}

{% block main_content %}

				<div class="page-content">
					<div class="page-header">
						<h1>
							Administration
							<small>
								<i class="ace-icon fa fa-angle-double-right"></i>
								Ajouter un collaborateur
							</small>
						</h1>
					</div><!-- /.page-header -->

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<form method="post" {{ form_enctype(form) }} class="form-horizontal" role="form">
								{{ form_widget(form) }}
									<!-- #section:elements.form -->
                  <p> </p>
                  <p> </p>
                  <p> </p>
                  <p> </p>
                  <p> </p>
                  <p> </p>
                  <p> </p>
                  <p> </p>
                  
									<div class="col-sm-6">

										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Nom </label>
											<div class="col-sm-9">
												<input type="text" id="form-field-1" placeholder="Nom de famille" class="col-xs-10 col-sm-5">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> Pr&eacute;nom </label>
											<div class="col-sm-9">
												<input type="text" id="form-field-2" placeholder="Pr&eacute;nom" class="col-xs-10 col-sm-5">
											</div>
										</div>										
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" for="id-date-picker-1"> Date d'entr&eacute;e </label>
											<div class="col-sm-6">
												<div class="input-group">
													<input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="dd-mm-yyyy">
													<span class="input-group-addon">
														<i class="fa fa-calendar bigger-110"></i>
													</span>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" for="id-date-picker-2"> Date de sortie </label>
											<div class="col-sm-6">
												<div class="input-group">
													<input class="form-control date-picker" id="id-date-picker-2" type="text" data-date-format="dd-mm-yyyy">
													<span class="input-group-addon">
														<i class="fa fa-calendar bigger-110"></i>
													</span>
												</div>
											</div>
										</div>

									</div>
									
								<div class="form-group"></div>

								<div class="clearfix form-actions">
									<div class="col-md-offset-3 col-md-9">
										<button class="btn btn-info" type="button">
											<i class="ace-icon fa fa-check bigger-110"></i>
											Enregistrer
										</button>

										&nbsp; &nbsp; &nbsp;
										<button class="btn" type="reset">
											<i class="ace-icon fa fa-undo bigger-110"></i>
											Reset
										</button>
									</div>
								</div>
							
							<!-- #section:custom/extra.hr -->
							<div class="hr hr32 hr-dotted"></div>
							<!-- /section:custom/extra.hr -->

							<!-- PAGE CONTENT ENDS -->
							</form>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.page-content -->

{% endblock %}
{% block javascript %}
		<script type="text/javascript">
			jQuery(function($) { 
				 /*var mydate = $('#id-date-picker-1')[0];
				 if(mydate.type !== 'date') {//if browser doesn't support "date" input
				    $(mydate).datepicker({
				      //options
				    })
				 }*/
				//datepicker plugin
				//link
				$('.date-picker').datepicker({
					autoclose: true,
					todayHighlight: true
				})
				//show datepicker when clicking on the icon
				.next().on(ace.click_event, function(){
					$(this).prev().focus();
				});
				
				$('.chosen-select').chosen({allow_single_deselect:true}); 
				//resize the chosen on window resize
				$(window).on('resize.chosen', function() {
					var w = $('.chosen-select').parent().width();
					$('.chosen-select').next().css({'width':w});
				}).trigger('resize.chosen');
 			});
		</script>
{% endblock %}