{% extends 'AltageGastroCmd::html_base_layout.html.twig' %}

{% block body %}
		{{ include('AltageGastroCmd::menu_fixe.html.twig') }}
		
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>
			{{ include('AltageGastroCmd::sidebar.html.twig') }}

			<div class="main-content">
				{{ include('AltageGastroCmd::breadcrums.html.twig') }}
			
				{% block main_content %}{% endblock %}
			
			</div><!-- /.main-content -->
			
		{{ include('AltageGastroCmd::footer.html.twig') }}
		
		</div><!-- /.main-container -->
{% endblock %}

{% block javascript %}	
	<!-- Est-ce que cette variable est utilisée? -->
		<script type="text/javascript"> ace.vars['base'] = '..'; </script>
{% endblock %}